// qaq蓝
$qaq-blue: #0cb6f2;

// qaq粉
$qaq-pink: #ff6695;

// qaq灰
$qaq-gray: #f4f4f4;

// 字体灰
$font-gray: #949cae;

// 银灰色
$bg-white-gray: #f4f5f7;

// 边框 灰
$border-gray: #d7d7d7;

:root {
  --test: red;
}
